@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');










/* HTML | BODY | ROOT | ↓ */

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --neutralgray: #FAFAFA;

    --cerulean100: #CBDCF6;
    --cerulean200: #A7C5F1;
    --cerulean300: #84ADEB;
    --cerulean400: #6196E5;
    --cerulean500: #3E7EE0;
    --cerulean600: #2269D3;
    --cerulean700: #1D58AF;
    --cerulean800: #143D7B;
    --cerulean900: #0E2C58;

    --petroleum100: #5E646E;
    --petroleum200: #545A63;
    --petroleum300: #4B5058;
    --petroleum400: #42464D;
    --petroleum500: #383C42;
    --petroleum600: #2F3237;
    --petroleum700: #26282C;
    --petroleum800: #1C1E21;
    --petroleum900: #131416;

    --font-noto: "Noto Serif", serif;
    --font-grotesk: "Space Grotesk", serif;
}

html, body {
    background-color: var(--neutralgray);
    color: var(--petroleum500);
    font-family: var(--font-grotesk);
    scroll-behavior: smooth;
}

/* HTML | BODY | ROOT | ↑ */










/* GLOBAL MENU ↓ */

.globalmenu {
    position: fixed;
    display: flex;
    width: 100vw;
    color: var(--cerulean300);
    background-color: var(--cerulean100);
    padding: 5px;
    box-shadow: 0px 0px 2px var(--petroleum100);
    z-index: 1000;
}

.globalmenu a {
    color: var(--cerulean600);
    fill: var(--cerulean600);
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.globalmenu a:hover {
    color: var(--neutralgray);
    fill: var(--neutralgray);
    background-color: var(--cerulean500);
    transition-duration: 0.2s;
    border-radius: 3px;
    box-shadow: 0px 0px 4px var(--cerulean500);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.icontop {
    position: fixed;
    top: 3px;
    right: 5px;
    padding: 5px;
    border-radius: 3px;
    z-index: 1001;
    fill: var(--cerulean600);
}

/* GLOBAL MENU ↑ */










/* HEADER ↓ */

header {
    background-color: var(--cerulean500);
    padding-top: 51px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 4px var(--petroleum100);
    fill: var(--petroleum500);
}

header h1 {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--neutralgray);
}

/* HEADER ↑ */










/* TABLE OF CONTENTS ↓ */

.toc {
    background-color: var(--neutralgray);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 124px;
    max-width: 75vw;
    border-radius: 3px;
    box-shadow: 0px 0px 4px var(--petroleum100);
}

.toc h2 {
    margin-bottom: 10px;
}

.toc a {
    color: var(--cerulean400);
    text-decoration: none;
    font-weight: 400;
    border-radius: 3px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.toc a:hover {
    color: var(--cerulean700);
    font-weight: 500;
    text-decoration: underline;
    transition-duration: 0.2s;
    padding: 2px;
}

.toc li {
    list-style-type: none;
    padding: 1px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.headingtwo {
    margin-left: 20px;
}

/* TABLE OF CONTENTS ↑ */










/* HOME CONTENT ↓ */
 
.home-content {
    background-color: var(--neutralgray);
    min-width: 256px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.home-content h2 {
    scroll-margin-top: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 3px;
    padding: 3px;
    background-color: var(--cerulean100);
}

.home-content h3 {
    scroll-margin-top: 60px;
    margin-bottom: 10px;
    margin-top: 50px;
    padding: 3px;
}

/* HOME CONTENT ↑ */










/* SECTION CONTENT ↓ */
 
.section-content {
    background-color: var(--neutralgray);
    min-width: 256px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.section-content h2 {
    scroll-margin-top: 60px;
    margin-bottom: 10px;
    margin-top: 40px;
    border-radius: 3px;
    padding: 3px;
    background-color: var(--cerulean100);
}

.section-content h3 {
    scroll-margin-top: 60px;
    margin-bottom: 15px;
    margin-top: 40px;
    margin-left: 10px;
}

.section-content section {
    margin-bottom: 30px;
}

.section-content li {
    list-style-type: none;
    padding: 5px;
}

.section-content p {
    text-align: justify;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 1.5;
}

/* SECTION CONTENT ↑ */










/* ASIDE CONTENT ↓ */
 
.aside-content {
    background-color: var(--neutralgray);
    min-width: 256px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    
}

.aside-content h2 {
    scroll-margin-top: 60px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 3px;
    padding: 3px;
    background-color: var(--cerulean100);

}

.aside-content h3 {
    visibility: hidden;
    scroll-margin-top: 60px;
    padding: 3px;
}

/* ASIDE CONTENT ↑ */










/* VOCABULARY HIDE & SHOW ↓ */

.word-container {
    display: flex;
    justify-content: left;
    gap: 5px;
    font-size: 0.8em;
    margin-left: 10px;
}

.word-container svg {
    fill: var(--petroleum500);
    display: flex;
    justify-content: left;
    margin-top: auto;
    margin-bottom: auto;
}

.word {
    font-weight: 500;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    width: auto;
    margin: 5px;
    background-color: var(--cerulean100);
    transition-duration: 0.2s;
}

.word:hover {
    color: var(--neutralgray);
    box-shadow: 0px 0px 4px var(--cerulean500);
    background-color: var(--cerulean500);
}

.translation {
    color: var(--cerulean700);
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: auto;
    opacity: 0;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.translation.show {
    opacity: 1;
    height: auto;
}

/* VOCABULARY HIDE & SHOW ↑ */










/* HIGHLIGHT TEXT AUDIO ↓ */

.highlight {
    color: var(--neutralgray);
    background-color: var(--cerulean500);
    transition-duration: 0.2s;
    border-radius: 1px;
    box-shadow: 0px 0px 4px var(--cerulean500);
}

/* HIGHLIGHT TEXT AUDIO ↑ */










/* BOLD NAMES ↓*/

.name-highlight {
    font-weight: 700;
}

/* BOLD NAMES ↑ */










/* ANCHOR INSIDE ↓ */

.anchor-inside a {
    color: var(--cerulean600);
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
    margin-left: 8px;
    padding: 3px;
}

.anchor-inside a:hover {
    color: var(--neutralgray);
    background-color: var(--cerulean500);
    transition-duration: 0.2s;
    border-radius: 3px;
    box-shadow: 0px 0px 4px var(--cerulean500);
    padding: 3px;
}

/* ANCHOR INSIDE ↑ */










/* BOOKMARK LINK ↓ */

.bookmark-container {
    text-align: left;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-bookmark {
    text-decoration: none;
    color: var(--petroleum500);
    fill: var(--petroleum500);
    background-color: var(--cerulean100);
    display: flex;
    box-shadow: 0px 0px 4px var(--cerulean500);
    transition-duration: 0.2s;
    border-radius: 3px;
}

.custom-bookmark:hover {
    background-color: var(--cerulean400);
    box-shadow: 0px 0px 4px var(--cerulean500);
    color: var(--neutralgray);
    fill: var(--neutralgray);
    transform: scale(1.02);
}

.bookmark-thumbnail {
    width: 35%;
    height: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px var(--petroleum100);
}

.bookmark-info {
    display: grid;
    margin-left: 10px;
}

.bookmark-title {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 2.5px;
    font-weight: 500;
    font-size: 0.8em;
}

.bookmark-subtitle {
    margin-left: 5px;
    margin-top: 2.5px;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 0.7em;
}

.bookmark-outside-link-icon {
    padding-top: 10px;
    padding-right: 10px;
    margin-left: auto;
}

/* BOOKMARK LINK ↑ */










/* YOUTUBE VIDEO ↓ */

.video-container {
    display: flex;
}

.video-link {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.video-thumbnail {
    width: 400px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 4px var(--petroleum100);
    transition: transform 0.1s ease-in-out;
}

.video-thumbnail:hover {
    transform: scale(1.05);
}

/* YOUTUBE VIDEO ↑ */










/* EXTERNAL LINK ↓ */

.external-container {
    display: flex;
}

.external-link {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.external-thumbnail {
    width: 400px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 4px var(--petroleum100);
    transition: transform 0.1s ease-in-out;
}

.external-thumbnail:hover {
    transform: scale(1.05);
}

/* EXTERNAL LINK ↑ */










/*IPA & ALPHABET HEADING ↓ */
.heading-container {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

.ipa-heading {
    scroll-margin-top: 60px;
}
/*IPA & ALPHABET HEADING ↑ */










/*IPA ↓ */

.ipa-section {
    padding: 20px;
    overflow-x: auto;
    display: grid;
    justify-items: center;
    background-color: white;
}

.ipa-div {
    display: flex;
}

.voiced {
    font-family: var(--font-noto);
    font-size: 1.5em;
    display: flex;
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--cerulean100);
    box-shadow: 0px 0px 1px var(--petroleum100);
}

.voiced:hover {
    background-color: var(--cerulean900);
    color: var(--neutralgray);
    fill: var(--neutralgray);
    transition-duration: 0.2s;
}

.voiceless {
    font-family: var(--font-noto);
    font-size: 1.5em;
    display: flex;
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--cerulean300);
    box-shadow: 0px 0px 1px var(--petroleum100);
}

.voiceless:hover {
    background-color: var(--cerulean900);
    color: var(--neutralgray);
    fill: var(--neutralgray);
    transition-duration: 0.2s;
}

.hidden-ipa {
    visibility: hidden;
    font-family: var(--font-noto);
    font-size: 1.5em;
    display: flex;
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--cerulean100);
}

.space {
    visibility: hidden;
    margin-top: 12px;
    margin-bottom: 12px;
}

/*IPA ↑ */










/*ALPHABET ↓ */

.alphabet-section {
    padding: 20px;
    overflow-x: auto;
    display: grid;
    justify-items: center;
    background-color: white;
}

.alphabet-div {
    display: flex;
}

.alphabet-letter {
    font-family: var(--font-noto);
    font-size: 1.4em;
    display: grid;
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--cerulean100);
    box-shadow: 0px 0px 1px var(--petroleum100);
}

.alphabet-letter:hover {
    background-color: var(--cerulean900);
    color: var(--neutralgray);
    fill: var(--neutralgray);
    transition-duration: 0.2s;
}

.alphabet-transcription {
    font-family: var(--font-noto);
    font-size: 0.5em;
}

/*ALPHABET ↑ */










/* FULL AUDIO ↓ */

.fullaudio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* FULL AUDIO ↑ */










/*MOVE TO TOP ARROW ↓ */

.move-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    background-color: var(--cerulean100);
    fill: var(--petroleum500);
    box-shadow: 0px 0px 4px var(--petroleum100);
}

.move-to-top:hover {
    background-color: var(--cerulean500);
    transition-duration: 0.2s;
    fill: var(--neutralgray);
}

/*MOVE TO TOP ARROW ↑ */










/*FOOTER ↓ */

footer {
    background-color: var(--petroleum600);
    color: var(--cerulean100);
    font-weight: 400;
    text-align: center;
    padding: 25px;
    margin-top: 70px;
    box-shadow: 0px 0px 4px var(--petroleum100);
}

footer svg {
    margin-bottom: 15px;
    fill: var(--cerulean600);
}

/*FOOTER ↑ */