@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {

    --graycool0: #FAFAFD;
    --graycool50: #EEEEF1;
    --graycool100: #E2E4E9;
    --graycool200: #C7C8D1;
    --graycool300: #B0B2BF;
    --graycool400: #9A9CAC;
    --graycool500: #83869A;
    --graycool600: #6E7187;
    --graycool700: #535565;
    --graycool800: #40424F;
    --graycool900: #2E2F38;
    --graycool1000: #1C1C22;

    --cerulean50: #EDF3FC;
    --cerulean100: #CADCF6;
    --cerulean200: #A7C5F1;
    --cerulean300: #84ADEB;
    --cerulean400: #6196E5;
    --cerulean500: #3E7EE0;
    --cerulean600: #2269D3;
    --cerulean700: #1D58AF;
    --cerulean800: #143D7B;
    --cerulean900: #0E2C58;
    --cerulean1000: #091A35;

    --sunset50: #FDF4ED;
    --sunset100: #FBE9DA;
    --sunset200: #F5C9A3;
    --sunset300: #F1B37E;
    --sunset400: #ED9F5A;
    --sunset500: #E98935;
    --sunset600: #DC7418;
    --sunset700: #A55712;
    --sunset800: #81440E;
    --sunset900: #5C300A;
    --sunset1000: #371D06;

    --font-noto: "Noto Serif", serif;
    --font-grotesk: "Space Grotesk", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-inter-tight: "Inter Tight", sans-serif;
    
}

html, body {
    color: var(--graycool1000);
    font-family: var(--font-dm-sans);
    scroll-behavior: smooth;
    background-color: var(--graycool0);
}

/* HTML | BODY | ROOT | ↑ */










/* HEADER & GLOBAL MENU ↓ */

.header-style {
    background-color: var(--graycool1000);
    fill: var(--graycool800);
    margin-bottom: 32px;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.header-style h1 {
    font-family: var(--font-inter-tight);
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    color: var(--graycool0);
    font-size: 28px;
    line-height: 38px;
}

@media only screen and (min-width: 600px) {
    .header-style h1 {
        max-width: 50vw;
    }
}

.global-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 40px;
    top: 0;
    gap: 4px;
    background-color: var(--graycool0);
    box-shadow: 0px 0px 4px var(--graycool50);
    z-index: 1;
    padding-left: 4px;
    padding-right: 4px;
    font-family: var(--font-inter-tight);
    font-size: 16px;
}

.global-menu a {
    display: flex;
    align-items: center;
    color: var(--sunset600);
    fill: var(--sunset600);
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    padding: 4px;
    transition-duration: 0.2s;

}

.global-menu a:hover {
    color: var(--cerulean600);
    fill: var(--cerulean600);
    transition-duration: 0.2s;
    cursor: pointer;
}

.global-menu-chevron {
    width: 16px;
    height: 16px;
}

.global-menu-logo {
    width: 24px;
    height: 24px;
}

.elevenlabs-container {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    color: var(--graycool100);
    font-weight: 300;
    font-size: 0.9em;
}

@media only screen and (min-width: 600px) {
    .elevenlabs-container {
        max-width: 50vw;
    }
}

.elevenlabs-container a {
    color: var(--sunset600);
    padding: 2px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.2s;
}

.elevenlabs-container a:hover {
    color: var(--cerulean600);
    transition-duration: 0.2s;
    text-decoration: underline;
}

/* HEADER & GLOBAL MENU ↑ */










/* TABLE OF CONTENTS ↓ */

.toc {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.toc h3 {
    margin-bottom: 8px;
}

.toc a {
    color: var(--graycool800);
    text-decoration: none;
    font-weight: 400;
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 0.9em;
    transition-duration: 0.2s;
}

.toc a:hover {
    color: var(--graycool600);
    text-decoration: underline;
    transition-duration: 0.2s;
}

.toc li {
    list-style-type: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

.heading-one {
    list-style-type: none;
}

.heading-two {
    list-style-type: none;
    margin-left: 20px;
}

@media only screen and (min-width: 600px) {
    .toc {
        max-width: 50vw;
    }
}

/* TABLE OF CONTENTS ↑ */










/* SECTION CONTENT ↓ */
 
.section-content {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.section-content h2 {
    scroll-margin-top: 64px;
    margin-bottom: 16px;
    margin-top: 64px;
    margin-left: -4px;
    margin-right: -4px;
    border-radius: 4px;
    padding: 4px;
    background-color: var(--graycool50);
}

.section-content h3 {
    scroll-margin-top: 64px;
    margin-bottom: 16px;
    margin-top: 40px;
    font-weight: 900;
}

.section-content section {
    margin-bottom: 30px;
}

.section-content li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.section-content p {
    text-align: left;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 1.6em;
}

@media only screen and (min-width: 600px) {
    .section-content {
        max-width: 50vw;
    }
}

/* SECTION CONTENT ↑ */










/* FULL AUDIO ↓ */

.fullaudio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

audio {
    border-radius: 64px;
    margin-top: 8px;
    width: 100%;
}

/* FULL AUDIO ↑ */










/* TOOLS CONTENT ↓ */
 
.tools-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    
}

@media only screen and (min-width: 600px) {
    .tools-content {
        max-width: 50vw;
    }
}

/* TOOLS CONTENT ↑ */










/* HIDDEN HEADING ↓ */

.hidden-heading {
    visibility: hidden;
    scroll-margin-top: 64px;
}

/* HIDDEN HEADING ↑ */










/* VOCABULARY CALLOUT ↓ */

.vocabulary-container {
    box-shadow: 0px 0px 4px var(--graycool300);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.vocabulary-word-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.vocabulary-word {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--cerulean600);
}

.vocabulary-class-word {
    font-size: 0.8em;
    color: var(--graycool600);
}

.vocabulary-phonetic {
    display: flex;
    gap: 8px;
    font-family: var(--font-noto);
    color: var(--graycool600);
    font-size: 0.8em;
}

.vocabulary-audio {
    cursor: pointer;
}

.vocabulary-translation {
    color: var(--cerulean500);
    font-size: 0.9em;
}

/* VOCABULARY CALLOUT ↑ */










/* HIGHLIGHT TEXT AUDIO ↓ */

.highlight {
    color: white;
    background-color: var(--graycool1000);
    transition-duration: 0.2s;
    border-radius: 4px;
}

/* HIGHLIGHT TEXT AUDIO ↑ */










/* BOLD NAMES ↓*/

.name-highlight {
    font-weight: 700;
}

/* BOLD NAMES ↑ */










/* TRANSLATION-TEXT ↓*/

    .translation-text {
        font-size: 0.9em;
        color: transparent;
        transition: color 0.3s;
        cursor: pointer;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .translation-text.visible {
        color: var(--graycool800);
    }

    .translation-text::before {
        content: "(click to see translation) ";
        color: var(--sunset500);
        font-weight: 900;
        font-size: 1.2em;
    }

    .translation-text:hover::before {
        text-decoration: underline;
    }

/* TRANSLATION-TEXT ↑ */










/* ANCHOR INSIDE ↓ */

.anchor-inside a {
    color: var(--sunset600);
    text-decoration: none;
    font-weight: 800;
    border-radius: 4px;
    transition-duration: 0.2s;
}

.anchor-inside a:hover {
    color: var(--cerulean600);
    transition-duration: 0.2s;
    cursor: pointer;
}

/* ANCHOR INSIDE ↑ */










/* YOUTUBE VIDEO ↓ */

.youtube-video-section {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.youtube-video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 16px var(--graycool500);
}

@media only screen and (min-width: 600px) {
    .youtube-video-section {
        max-width: 70vw;
    }
}

@media only screen and (min-width: 1200px) {
    .youtube-video-section {
        max-width: 40vw;
    }
}

/* YOUTUBE VIDEO ↑ */










/* EXTERNAL LINK ↓ */

.external-container {
    display: flex;
}

.external-link {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.external-thumbnail {
    width: 70vw;
    height: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 4px var(--cerulean100);
    transition: transform 0.1s ease-in-out;
}

.external-thumbnail:hover {
    transform: scale(1.05);
}

@media only screen and (min-width: 600px) {
    .external-thumbnail {
        width: 25vw;
    }
}

/* EXTERNAL LINK ↑ */










/* IPA & ALPHABET HEADING ↓ */
.heading-container {
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    margin-bottom: 8px;
}

.ipa-heading {
    scroll-margin-top: 64px;
}

@media only screen and (min-width: 600px) {
    .heading-container {
        max-width: 70vw;
    }
}

@media only screen and (min-width: 1200px) {
    .heading-container {
        max-width: 42vw;
    }
}
/* IPA & ALPHABET HEADING ↑ */










/* IPA ↓ */

.ipa-section {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    overflow-x: auto;
    display: grid;
    justify-items: center;
}

.ipa-div {
    display: flex;
}

.voiced {
    font-family: var(--font-noto);
    font-size: 1.6em;
    display: flex;
    width: 64px;
    height: 64px;
    padding: 4px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    background-color: var(--cerulean200);
    transition: all 0.2s ease;
}

.voiceless {
    font-family: var(--font-noto);
    font-size: 1.6em;
    display: flex;
    width: 64px;
    height: 64px;
    padding: 4px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    background-color: var(--sunset200);
    transition: all 0.2s ease;
}

.hidden-ipa {
    visibility: hidden;
    font-family: var(--font-noto);
    font-size: 1.6em;
    display: flex;
    width: 64px;
    height: 64px;
    padding: 4px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
}

.space {
    visibility: hidden;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* IPA ↑ */










/* ALPHABET ↓ */

.alphabet-section {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    overflow-x: auto;
    display: grid;
    justify-items: center;
}

.alphabet-div {
    display: flex;
}

.alphabet-letter {
    font-family: var(--font-noto);
    font-size: 1.6em;
    display: grid;
    align-content: space-evenly;
    width: 80px;
    height: 80px;
    padding: 4px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    background-color: var(--graycool200);
    transition: all 0.2s ease;
}

.alphabet-transcription {
    font-family: var(--font-noto);
    font-size: 0.6em;
}

/* ALPHABET ↑ */










/* HOVERED/CLICKED ↓ */


.hovered-alphabet {
    color: var(--graycool0);
    background-color: var(--graycool800);
    box-shadow: 0px 0px 4px var(--graycool800);
    transition: all 0.2s ease;
    cursor: pointer;
}

.hovered-voiced {
    color: var(--graycool0);
    background-color: var(--cerulean600);
    box-shadow: 0px 0px 4px var(--cerulean600);
    transition: all 0.2s ease;
    cursor: pointer;
}

.hovered-voiceless {
    color: var(--graycool0);
    background-color: var(--sunset600);
    box-shadow: 0px 0px 4px var(--sunset600);
    transition: all 0.2s ease;
    cursor: pointer;
}


.clicked-alphabet {
    color: var(--graycool0);
    background-color: var(--graycool800);
    box-shadow: 0px 0px 4px var(--graycool800);
    transition: all 0.2s ease;
    cursor: pointer;
    transform: scale(1.1);
}

.clicked-voiced {
    color: var(--graycool0);
    background-color: var(--cerulean600);
    box-shadow: 0px 0px 4px var(--cerulean600);
    transition: all 0.2s ease;
    cursor: pointer;
    transform: scale(1.1);
}

.clicked-voiceless {
    color: var(--graycool0);
    background-color: var(--sunset600);
    box-shadow: 0px 0px 4px var(--sunset600);
    transition: all 0.2s ease;
    cursor: pointer;
    transform: scale(1.1);
}

/* HOVER/CLICK ↑ */










/* FLASHCARD SECTION ↓ */
 
.flashcard-section-content {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.flashcard-section-content h2 {
    scroll-margin-top: 64px;
    margin-bottom: 16px;
    margin-top: 64px;
    margin-left: -4px;
    margin-right: -4px;
    border-radius: 4px;
    padding: 4px;
    background-color: var(--cerulean100);
}

.flashcard-section-content h3 {
    scroll-margin-top: 60px;
    margin-bottom: 16px;
    margin-top: 40px;
    margin-left: 3px;
}

.flashcard-section-content section {
    margin-bottom: 30px;
}

.flashcard-verb {
    font-weight: 600;
    color: var(--cerulean600);
    margin-bottom: 4px;
}


@media only screen and (min-width: 600px) {
    .flashcard-section-content {
        max-width: 50vw;
    }
}

/* FLASHCARD SECTION ↑ */










/* FLASHCARDS & REVIEW ↓ */

.flashcard-container {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

.flashcard-text-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.flashcard-text {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
}

.flashcard-text-question {
    font-size: 1.4em;
    margin-bottom: 16px;
    line-height: 1.6em;
}

.flashcard-text-answer {
    font-size: 1.4em;
    margin-top: 16px;
    line-height: 1.6em;
}

.flashcard-revealed {
    color: var(--cerulean600);
    font-weight: 700;
}

.flashcard-cloze {
    color: var(--cerulean600);
    font-weight: 700;
}

.flashcard-audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.flashcard-buttons-container {
    justify-content: center;
    margin-top: 32px;
}

.flashcard-hint-container {
    margin-top: 32px;
    border: 2px solid var(--cerulean100);
    background-color: var(--graycool0);
    border-radius: 8px;
    padding: 16px;
}

.flashcard-hint {
    font-size: 1.1em;
    color: var(--graycool600);
    font-weight: 600;
    margin-bottom: 8px;
}

.flashcard-hint-paragraph {
    font-size: 0.9em;
    font-weight: 300;
    color: var(--cerulean400);
}

.flashcard-hint-main {
    font-weight: 600;
    color: var(--cerulean600);
}

.flashcard-button-answer {
    margin-top: 32px;
    color: var(--cerulean500);
    background-color: var(--graycool100);
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    font-weight: bold;
    font-family: var(--font-grotesk);
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.2s;
}

.flashcard-button-answer:hover {
    background-color: var(--cerulean200);
    color: var(--cerulean800);
    transition-duration: 0.2s;
    box-shadow: 0px 0px 4px var(--cerulean200);
}

.flashcard-button-correct {
    background-color: var(--graycool100);
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    margin-left: 8px;
    margin-right: 8px;
    transition-duration: 0.2s;
}

.flashcard-button-correct:hover {
    background-color: var(--cerulean200);
    transition-duration: 0.2s;
    box-shadow: 0px 0px 4px var(--cerulean200);
}

.flashcard-button-correct img {
    display: flex;
    justify-content: center;
}

.flashcard-button-wrong {
    background-color: var(--graycool100);
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    margin-left: 8px;
    margin-right: 8px;
    transition-duration: 0.2s;
}

.flashcard-button-wrong:hover {
    background-color: var(--cerulean200);
    transition-duration: 0.2s;
    box-shadow: 0px 0px 4px var(--cerulean200);
}

.flashcard-button-wrong img {
    display: flex;
    justify-content: center;
}

.flashcard-button-reset {
    background-color: var(--graycool100);
    display: flex;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.2s;
}

.flashcard-button-reset:hover {
    background-color: var(--cerulean200);
    transition-duration: 0.2s;
    box-shadow: 0px 0px 4px var(--cerulean200);
}

.flashcard-button-reset img {
    display: flex;
    justify-content: center;
}

.flashcard-finished-paragraph {
    text-align: center;
    font-weight: bold;
}

/* FLASHCARDS & REVIEW ↑ */










/* FOOTER, MOVE TO TOP, CONTACTS ↓ */

.move-to-top {
    height: 24px;
    width: 24px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--sunset600);
    fill: var(--graycool0);
    box-shadow: 2px 2px 0px var(--graycool1000);
    transition-duration: 0.2s;
}

.move-to-top:hover {
    background-color: var(--cerulean500);
    transition-duration: 0.2s;
}

/* FOOTER, MOVE TO TOP, CONTACTS ↑ */

/* ↓ */
/* ↑ */