@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');










/* HTML | BODY | ROOT | ↓ */

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --neutralgray: #FAFAFA;

    --cerulean100: #CBDCF6;
    --cerulean200: #A7C5F1;
    --cerulean300: #84ADEB;
    --cerulean400: #6196E5;
    --cerulean500: #3E7EE0;
    --cerulean600: #2269D3;
    --cerulean700: #1D58AF;
    --cerulean800: #143D7B;
    --cerulean900: #0E2C58;

    --petroleum100: #5E646E;
    --petroleum200: #545A63;
    --petroleum300: #4B5058;
    --petroleum400: #42464D;
    --petroleum500: #383C42;
    --petroleum600: #2F3237;
    --petroleum700: #26282C;
    --petroleum800: #1C1E21;
    --petroleum900: #131416;

    --font-noto: "Noto Serif", serif;
    --font-grotesk: "Space Grotesk", serif;
}

html, body {
    font-family: var(--font-grotesk);
    scroll-behavior: smooth;
}

/* HTML | BODY | ROOT | ↑ */










/* HEADER ↓ */

.header-content {
    margin-top: 32px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 80vw;
}

.header-title {
    color: var(--cerulean400);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

@media only screen and (min-width: 600px) {
    .header-content {
        max-width: none;
        padding-left: 32px;
    }
}

/* HEADER ↑ */










/* HEADLINE POSTER ↓ */

.headline-poster {
    position: relative;
    margin-top: 80px;
    border-radius: 10px;
    background-image: linear-gradient(100deg, var(--cerulean800), var(--cerulean600));
    box-shadow: 0px 0px 16px var(--cerulean900);
}

.headline-poster img {
    position: absolute;
    bottom: 0;
    left: 88px;
}

.headline-poster-invisible-element {
    display: flex;
    padding: 104px;
}

@media only screen and (min-width: 600px) {
    .headline-poster img {
        left: 188px;
    }
}

/* HEADLINE POSTER ↑ */










/* HEADLINE SECTION ↓ */

.headline-section {
    padding-bottom: 80px;
    overflow: hidden;
}

.headline-section-content {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.headline-title {
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.headline-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.headline-button {
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 64px;
    border-radius: 3px;
    border: 4px solid var(--petroleum500);
    background: var(--cerulean600);
}

.headline-button:hover {
    background-color: var(--cerulean800);
    transition-duration: 0.2s;
}

@media only screen and (min-width: 600px) {
    .headline-section-content {
        max-width: 600px;
    }
}

/* HEADLINE SECTION ↑ */










/* HERO SECTION ↓ */

.hero-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-section img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    box-shadow: 0px 0px 16px var(--petroleum900);
    border-radius: 10px;
}

.hero-section-content {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

.hero-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.hero-button {
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 64px;
    border-radius: 3px;
    border: 4px solid var(--petroleum500);
    background: var(--neutralgray);
}

.hero-button:hover {
    background-color: var(--cerulean200);
    transition-duration: 0.2s;
}


@media only screen and (min-width: 600px) {
    .hero-section-content {
        max-width: 600px;
    }
}

/* HERO SECTION ↑ */










/* BENEFITS-SECTION ↓ */

.benefits-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.benefits-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.benefits-section-content {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.benefits-cards {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--cerulean100);
    padding: 16px;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.benefits-title {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

.benefits-paragraph {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    font-weight: 500;
}

@media only screen and (min-width: 600px) {
    .benefits-section-content {
        max-width: 600px;
    }
}

/* BENEFITS-SECTION ↑ */










/* WHO-SECTION ↓ */

.who-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.who-section-content {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.who-title {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

.who-section-content li {
    list-style-image: url('images/landing-page/icons/check-icon.svg');
    list-style-position: inside;
    font-size: 24px;
    font-weight: 400;
}

@media only screen and (min-width: 600px) {
    .who-section-content {
        max-width: 600px;
    }
}

/* WHO-SECTION ↑ */










/*FOOTER ↓ */

footer {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 16px;
    font-weight: 500;
}

.footer-copyright-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo-container {
    margin-left: 32px;
}

.footer-text-container {
    margin-left: 4px;
}

footer img {
    display: flex;
    justify-content: center;
}

/*FOOTER ↑ */

/* - ↓ */

/* - ↑ */