@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cerulean100: #CBDCF6;
    --cerulean200: #A7C5F1;
    --cerulean300: #84ADEB;
    --cerulean400: #6196E5;
    --cerulean500: #3E7EE0;
    --cerulean600: #2269D3;
    --cerulean700: #1D58AF;
    --cerulean800: #143D7B;
    --cerulean900: #0E2C58;

    --petroleum100: #5E646E;
    --petroleum200: #545A63;
    --petroleum300: #4B5058;
    --petroleum400: #42464D;
    --petroleum500: #383C42;
    --petroleum600: #2F3237;
    --petroleum700: #26282C;
    --petroleum800: #1C1E21;
    --petroleum900: #131416;

    --font-noto: "Noto Serif", serif;
    --font-grotest: "Space Grotesk", serif;
}

html, body {
    background-color: white;
    color: var(--petroleum900);
    font-family: var(--font-noto);
    scroll-behavior: smooth;
}

.breadcrumbs {
    position: fixed;
    width: 100%;
    background-color: var(--cerulean100);
    font-size: 0.8em;
    list-style: none;
    display: flex;
    font-weight: 600;
    gap: 0.5rem;
    padding: 10px;
}
.breadcrumbs li {
    display: inline;
}

.breadcrumbs li a {
    color: var(--cerulean600);
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 5px;
}

.breadcrumbs li a:hover {
    list-style-type: none;
    background-color: var(--cerulean300);
    transition-duration: 0.2s;
    border-radius: 3px;
    box-shadow: 1px 1px 5px var(--cerulean300);
    padding: 5px;
}

.breadcrumbs li::after {
    content: "/";
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    color: var(--petroleum800);
}

.breadcrumbs li:last-child::after {
    content: "";
}

.breadcrumbs li:last-child a {
    color: var(--petroleum800);
    text-decoration: none;
}

header {
    background-image: linear-gradient(to bottom, var(--cerulean600), var(--cerulean700));
    color: white;
    text-align: center;
    padding: 50px;

}

header img {
    margin-top: 50px;
}

.menu {
    color: var(--cerulean100);
    background-color: var(--cerulean700);
    font-weight: 600;
    font-size: 0.8em;
    margin-bottom: 20px;
    padding: 10px;
}

.menu a {
    color: var(--cerulean100);
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 5px;
}

.menu a:hover {
    background-color: var(--cerulean300);
    color: var(--cerulean600);
    transition-duration: 0.2s;
    border-radius: 3px;
    box-shadow: 1px 1px 5px var(--cerulean300);
    padding: 5px;
}

.pagetitle {
    text-align: left;
    font-size: 1.3em;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 60px;
    min-width: 292px;
    max-width: 512px;
    color: var(--cerulean800);
}

.toc {
    background-color: var(--cerulean100);
    text-align: left;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 292px;
    max-width: 512px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px var(--cerulean300);
}

.toc h2 {
    margin-bottom: 10px;
}

.toc a {
    color: var(--cerulean600);
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;
}

.toc li {
    list-style-type: none;
    color: var(--cerulean300);
    padding: 5px;
}

.toc li:hover {
    background-color: var(--cerulean300);
    transition-duration: 0.2s;
    border-radius: 3px;
    box-shadow: 1px 1px 5px var(--cerulean300);
}
 
main {
    background-color: white;
    text-align: justify;
    min-width: 292px;
    max-width: 512px;;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px var(--cerulean300);
    
}

main h2 {
    font-size: 1.3em;
    scroll-margin-top: 60px;
}

.lists {
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.li-lists {
    padding: 3px;
}

main p {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    line-height: 2em;
    font-size: 1.3em;
    font-weight: 400;
}

footer {
    background-image: linear-gradient(to bottom, var(--petroleum700), var(--petroleum800));
    color: var(--cerulean100);
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}

footer img {
    margin: 30px;
}

mark {
    background-color: var(--cerulean100);
    padding-left: 3px;
    padding-right: 3px;
}